<div class="container">
    <header class="text-center">
        <h1>Solicitudes de ingreso a la plataforma</h1>
    </header>

    <div class="alert alert-info" role="alert" *ngIf="listRequest?.length == 0" >
        <i class="fa-solid fa-circle-info me-2"></i>
        No existen solicitudes de ingreso
    </div>

    <div class="data-table" *ngIf="listRequest?.length != 0">

      <mdb-form-control class="search-input mt-5">
        <input
          mdbInput
          type="text"
          id="search"
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="Ej. Alejandra"
          #input
        />
        <label mdbLabel class="form-label" for="search">
          Buscar solicitud por fecha, nombres, apellidos correo o estado
        </label>
      </mdb-form-control>

          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- date request -->
              <ng-container matColumnDef="dateRequest">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </th>
                <td mat-cell *matCellDef="let row"> {{ row.requestDate | date: 'dd-MM-yyyy' }} </td>
              </ng-container>

              <!-- requester Name -->
              <ng-container matColumnDef="requesterName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
                <td mat-cell *matCellDef="let row"> {{row.personalData.name | uppercase}} </td>
              </ng-container>

              <!-- requesterLastname -->
              <ng-container matColumnDef="requesterLastname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
                <td mat-cell *matCellDef="let row"> {{row.personalData.lastname | uppercase}} </td>
              </ng-container>

              <!-- requesterEmail -->
              <ng-container matColumnDef="requesterEmail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo Electrónico </th>
                <td mat-cell *matCellDef="let row"> {{row.personalData.email }} </td>
              </ng-container>

              <!-- requesterEmail -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let row"> {{row.status }} </td>
              </ng-container>

              <!-- actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Opciones </th>
                <td mat-cell *matCellDef="let row" >
                    <div class="actions">
                        <i class="fas fa-check fa-lg" title="Aceptar solicitud" (click)="onAccept(row)"></i>
                        <i class="fas fa-ban fa-lg" title="Rechazar Solicitud" (click)="onDenied(row)"></i>

                    </div>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No existe solicitud "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of request"></mat-paginator>
          </div>

  </div>
</div>

