<section class="container mb-2">
  <div class="welcome">
    <h1>BIENVENIDOS AL SISTEMA DE RESERVAS</h1>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/icons/bookmark.png" title="Recuerda que aquí podrás reservar oficinas, salas, parqueaderos y
            muchos más" />
          <p class="card-text">
            Recuerda que aquí podrás reservar <strong>habitaciones</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/icons/alert.png" title="No olvides que si desas cancelar una reserva puedes hacerlo
            únicamente hasta 24 horas antes de la hora de inicio"/>
          <p class="card-text">
            No olvides que si desas cancelar una reserva puedes hacerlo
            únicamente hasta
            <strong>24 horas antes de la hora de inicio</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</section>

<div class="carousel-inner rounded-5 shadow-4-strong">
  <mdb-carousel
    [controls]="true"
    [indicators]="true"
    [animation]="'fade'"
    [dark]="true"
  >
    <mdb-carousel-item>
      <img
        src="assets/img/carousel_1.jpeg"
        class="d-block w-100"
        title="¡Un tiempo para tí!"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/img/carousel_2.png"
        class="d-block w-100"
        title="5 Estrellas"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/img/carousel_3.webp"
        class="d-block w-100"
        title="5to año consecutivo ofreciendo la mejor experiencia"
      />
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="assets/img/carousel_4.jpg"
        class="d-block w-100"
        alt="Alto nivel de satisfacción"
      />
    </mdb-carousel-item>
  </mdb-carousel>
</div>
