.actions{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
}
.card {
  height: 350px;

  .rol {
    font-size: 11px;
    color: #000;
    font-weight: 500;
    border-radius: 14px;
    background-color: rgb(255, 214, 137);
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 25px;
  }

  .personalData {
    label {
      font-weight: 500;
    }

    p {
      font-weight: 300;
    }
  }
}

.editProfileCard {
  height: 620px;

  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .profile-img{
    // width: 240px;
    position: relative;
  }

  .editProfileBtn{
    position: absolute;
    top: 41%;
    left: 50%;

    button{
        background-color: #da6e32;
        font-size: 10px;;

        .far{
            color: white;
        }
    }

    button:hover{
        background-color: rgb(212, 147, 25);
        font-size: 11px;
    }

  }
}

.menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  transition: all 200ms ease;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: transparent;

  i {
    transition: all 200ms ease;
  }
}

.menu-item:hover {
  i {
    color: white;
  }

  background: #da6e32;
  color: white;
}

.changePasswordCard{
  width: 450px !important;
  padding: 10px;
  height: auto !important;

  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2px;
    margin-bottom: 5px;
  }

  .eye{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}