<div class="container">
    <header class="text-center">
        <h1>Administración de recursos</h1>
    </header>

    <div class="register-button mt-4 mb-4">
        <button type="button" class="btn btn-warning btn-md" title="Agregar recurso" (click)="createResource()">
            <i class="fas fa-plus-circle"></i>
            Agregar recurso
        </button>
    </div>

    <div class="alert alert-info" role="alert" *ngIf="listResources?.length == 0" >
        <i class="fa-solid fa-circle-info me-2"></i>
        No existen recursos registrados
    </div>

    <div class="data-table" *ngIf="listResources?.length != 0">

      <mdb-form-control class="search-input">
        <input
          mdbInput
          type="text"
          id="search"
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="Ej. Video"
          #input
        />
        <label mdbLabel class="form-label" for="search">
          Buscar recurso
        </label>
      </mdb-form-control>

          <div class="mat-elevation-z8 table-responsive">
            <table mat-table [dataSource]="dataSource" matSort>
              <!--name resource-->
              <ng-container matColumnDef="nameResource">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let row"> {{row.name ? row.name : ""| uppercase}} </td>
              </ng-container>

              <!--description-->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.description ? row.description : ""}} </td>
              </ng-container>

              <!-- type_resource -->
              <ng-container matColumnDef="typeResource">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                <td mat-cell *matCellDef="let row"> {{row.idTypeResource.name | uppercase}} </td>
              </ng-container>

              <!-- region -->
              <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
                <td mat-cell *matCellDef="let row"> {{row.idLocation.idRegion.name | uppercase}} </td>
              </ng-container>

              <!-- place -->
              <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
                <td mat-cell *matCellDef="let row"> {{row.idLocation.place | uppercase}} </td>
              </ng-container>

              <!-- address -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                <td mat-cell *matCellDef="let row"> {{row.idLocation.address | uppercase}} </td>
              </ng-container>

              <!--floor-->
              <ng-container matColumnDef="floor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Piso del edificio </th>
                <td mat-cell *matCellDef="let row"> {{row.idLocation.floor}} </td>
              </ng-container>


              <!--code number-->
              <ng-container matColumnDef="codeNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                <td mat-cell *matCellDef="let row"> {{row.codNumber | uppercase}} </td>
              </ng-container>

              <!-- capacity -->
              <ng-container matColumnDef="capacity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Capacidad </th>
                <td mat-cell *matCellDef="let row"> {{row.capacity ? row.capacity : 'NO APLICA'}} </td>
              </ng-container>

              <!-- price -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Precio </th>
                <td mat-cell *matCellDef="let row">
                  {{row.price && row.price != 0 ? (row.price | currency: 'USD') : 'GRATIS'}} </td>
              </ng-container>

              <!-- image -->
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Imagen </th>
                <td mat-cell *matCellDef="let row;" >
                    <i class="far fa-eye fa-lg" title="Ver Imagen Recurso" (click)="seeImage(row.pathImages, row.idTypeResource.name)"></i>
                </td>
              </ng-container>



              <!-- actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                <td mat-cell *matCellDef="let row">
                    <div class="actions">
                            <i class="far fa-edit fa-lg" title="Editar recurso" (click)="editResource(row)"></i>
                            <i class="far fa-trash-alt fa-lg" title="Eliminar recurso" (click)="deleteResource(row)"></i>
                    </div>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No existe el recurso "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>

  </div>
</div>


